# https://github.com/withastro/astro/blob/main/examples/minimal/.gitignore
dist/
.astro/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.production
.DS_Store
.idea/

#
Thumbs.db
.editorconfig
.vscode/
